.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai

/.quarto/
**/*.quarto_ipynb
modules/*_cache/
JASA-template.*
pipeline.*
tutorial.*
objects
workspaces
meta
data/nhanes_1440_AC.csv.xz
_targets
docs.zip
